* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: #1a1924;
  font-size: 1.6rem;
  height: 100vh;
  overflow: hidden;
}

body * {
  /* border: 0.1rem solid green; */
  color: white;
  font-family: 'Roboto', sans-serif;
}

#app {
  padding: 2.4rem 3.2rem;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  max-width: 850px;
  margin: auto;
}

/* TOP STYLE */

#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#user-info {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-weight: 700;
}

#user-info img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

#user-status .status::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  display: block;
  background-color: #00B37E;
}

#user-status .status {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-top: 0.4rem;
  font-weight: 400;
  color: #00B37E;
}

/* MESSAGE'S BODY STYLE */

#last-seen {
  margin-top: 2.6rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
}

#messages {
  overflow-y: scroll;
}

.messages-section {
  margin-top: 3rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  display: grid;
  gap: 3rem;
}

.message-body .message {
  margin-bottom: 1rem;
  background-color: rgb(51, 34, 90);
  padding: 1.4rem;
  border-radius: 10px 10px 10px 0;
  width: fit-content;
}

.message-body:not(.you) {
  width: 50vw;
}

.you-message-body {
  margin-left: auto;
  text-align: right;
}

.you-message-body .message {
  margin-bottom: 1rem;
  background-color: rgba(145, 10, 104, 0.63);
  padding: 1.4rem;
  border-radius: 10px 10px 0 10px;
}

.user-send-date {
  opacity: 0.5;
}

/* BOTTOM STYLE */

form {
  background-color: #2f2f4dad;
  padding: 1.4rem 2.4rem;
  border-radius: 999rem;
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
}

input {
  flex: 1;
  outline: none;
}

form:focus-within {
  outline: 2px solid white;
}

input::placeholder {
  color: #e1e1e6;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

button {
  font-size: 2.4rem;
}

input, button {
  background-color: transparent;
  border: 0;
}
